/*General*/
html{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}


/*HEADER*/

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  background-color: rgb(250,250,250);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

 .header__logo{
   height: 200%;
   width: 30%;
 }

.header__icono{
  height: 100%;
  width: 20%;
  border: 0;
  background-color: transparent;
}

.icono{
  font-size: 2rem;
}

.header__navigation{
  width: 100%;
  background-color: rgb(12,12,12.8);
  height: 25vh;
  display: flex;
  display: none;
}

.header__navigation--active{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.header__navigation--disabled{
  display: none;
}

.header__navigation ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.header__navigation li{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
}

.navigation_link{
  color: rgb(240,240,240);
  text-decoration: none;
  font-size: 2.5rem;

}


/*contenido*/

.banner__carousel{
  display: none;
}

#banner{
  background-color: rgb(120,120,120);
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner__titulo {
  color: rgb(150,150,150);
  width: 30vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}


.banner__titulo h1{
  color: rgb(245,245,245);
  font-size: 4rem;
  text-align: center;

}


/*MAIN*/

main section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15%;
}

.section__title{
  font-size: 4rem;
  margin-top: 15%;
}

/*SECCION NOSOTROS*/
#us{
  background-color: rgb(210,210,210);
}

#us p{
  margin-top: 45%;
  font-size: 2.5rem;
  text-align: justify;
}

/*SECCION SERVICIOS*/

#services{
  background-color: rgb(160,160,160);
  height: auto;
}

.services__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
}

.services__image{
  font-size: 12rem;
}

.services__item h3{
  font-size: 2rem;
}

/*CONTACTO*/

#contact{
  background-color: rgb(80,80,80);
  height: auto;
}

#contact .section__title{
  color: rgb(240,240,240);
}

.contact__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
}

.contact__image{
  font-size: 12rem;
  color: rgb(240,240,240);
}
.contact__title{
  font-size: 3rem;
  text-decoration: none;
  color: rgb(240,240,240);
}
