/*GENERAL*/
html{
  font-family: 'Montserrat', sans-serif;
  font-size: 6.5px;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(15,15,15);
  text-align: center;
  margin: 2%;
}

*{
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}


/*HEADER*/
button{
  height: 20px;
  width: 20px;
  border-radius: 20%;
  background-color: #fffe07b3;
  color: black;
  border: none;
}
.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 12vh;
  width: 100%;
  background-color: rgb(250.250.250);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.header__logo{
  width: 100%;
  height: 25vh;
  }

.header__icono{
  height: 100%;
  width: 100%;
  border: 20%;
  background-color: rgb(15,15,15);
  align-items: flex-start;
  flex: auto;
}

.icono{
  font-size: 3.5rem;
}

.header__navigation{
  width: 100%;
  margin: 0;
  background-color: rgb(15,15,15);
  height: 20vh;
  display: none;
  font-size: 5rem;
  flex-direction: row;
  text-align: center;
}

.header__navigation--active{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.header__navigation--disabled{
  display: none;
}

.header__navigation ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.header__navigation li{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
  text-shadow: 0 0 4px rgb(213, 241, 54);
}

.navigation__link{
  text-shadow: 0 0 4px rgb(213, 241, 54);
  text-decoration: none;
  color: white;
  margin-right: 10%;
}


/*contenido*/

.banner__carousel{
  display: none;
}

#banner{
  background-color: #a6a6a6;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner__titulo {
  color: rgb(150,150,150);
  width: 30vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: auto;
}


.banner__titulo h1{
  color: rgb(8, 8, 8);
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 5rem;
  flex-direction: row;
  height: auto;
  text-align: center;
  text-align: auto;
}


/*MAIN*/

main section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15%;
}

.section__title{
  font-size: 4rem;
  margin-top: 15%;
  height: auto;
}

/*SECCION NOSOTROS*/
#us{
  background-color: rgb(210,210,210);
  height: auto;
}

#us p{
  margin-top: 7%;
  margin-bottom: 10%;
  font-size: 2rem;
  text-align: justify;
  height: auto;
}

/*SECCION SERVICIOS*/

#services{
  background-color: rgb(220,220,220);
  height: auto;
}

.services__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
  height: auto;

}

.services__image{
  font-size: 12rem;
}

.image__services{
  max-width: 100%;
  max-height: 100%;
  height: 250px;
  width: 300px;
}

.services__item h3{
  font-size: 4.5rem;
}

.services__item h4{
  font-size: 2rem;
  text-align: center;
}


/*CONTACTO*/

#contact{
  background-color: rgb(80,80,80);
  height: auto;
}

#contact .section__title{
  color: rgb(240,240,240);
}

.fab {
  padding: 5px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-family: 'Monserrat',sans-serif;
}

.fab:hover {
  opacity: 0.7;
}

.fa-whatsapp {
  color: #343a40;
}


.contact__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
}

.contact__image{
  font-size: 12rem;
  color: rgb(240,240,240);
}
.contact__title{
  font-size: 3rem;
  text-decoration: none;
  color: rgb(240,240,240);

}
.mapa{
  width: 350px;
  height: 300px;
}

footer{
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10,10,10);
}

footer span{
  font-size: 2rem;
  color: rgb(240,240,240);
  text-align: center;
}
@media (min-width: 1000px) {


  .header__logo{
    width: 75%;
    height: 60vh;
    margin: auto;
  }

  .header__icono{
    display: none;
  }

  .header__navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #fdfc2ee0;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .header__navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .navigation__link{
    font-size: 5rem;
    text-shadow: 1px -1px 20px #171718;
    display: flex;
  }
  

/*BANNER*/

  #banner{
    width: 100%;
    height: 88vh;
  }

  .banner__titulo{
    display: flex;
    margin-left: 5%;
  }

  .banner__titulo h1 {
    color: rgb(8, 8, 8);
    text-shadow: -20px 5px 20px #fbfbfb;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 5rem;
    flex-direction: row;
    height: auto;
    width: auto;
    text-align: auto;
  }

  .banner__carousel{
  display: flex;
  width: 600px;
  height: 400px;
  justify-content: space-around;
  }
  
  /*SECCION NOSOTROS*/
 #us{
  background-color: rgb(210,210,210);
  height: auto;
  }

  #us p{
  margin-top: 7%;
  margin-bottom: 10%;
  font-size: 3.5rem;
  text-align: justify;
  height: auto;
  }

  /*SECCION SERVICIOS*/

  #services{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }

  #services .section__title{
  width: 100%;
  text-align: center;
  }
  .section__title{
    font-size: 5rem;
  }

  .services__item{
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12% 0;
  }

  .services__image{
  font-size: 10rem;
  }

  .services__item h3{
  font-size: 4.5rem;
  }

  .services__item h4{
  font-size: 2rem;
  }
  .fab {
  padding: 5px;
  font-size: 2rem;
  text-align: center;
  text-decoration: solid;
  border-radius: 50%;
  font-family: 'Monserrat', sans-serif;
  }
  

  /*CONTACTO*/
  #contact{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  #contact .section__title{
  width: 100%;
  margin-bottom: 10%;
  text-align: center;
  }

  .contact__item{
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12% 0;
  }

  .contact__image{
  font-size: 8rem;
  }

  .contact__title{
  font-size: 3.5rem;
  }

  .mapa{
    display: flex;
    width: 700px;
  }
  /*FOOTER*/

  footer span{
    font-size: 2rem;
  }
}
